@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: vazir, serif !important;
}